{% extends "eventsapp/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
    <h1>About us!</h1>
     <p>We are a small group of like minded people who want to have fun! </p>
     <p>We expect everyone to be respectful at the events, and those who aren't will be removed from the site.</p>
     <p>You can contact us at: EventsInfo@Events.com</p>
     <p>Have fun!</p>
  </div>
  </div>
</article>

{% endblock content %}
